#Navbar{
   margin: 0 1.2rem;
}
.bg-lightGreen{
   background-color: chartreuse;
}
.bg-lightGreen:hover{
   background-color: #80ff00b6;
}
.bg-lightGreen:focus{
   background-color: #80ff00b6;
}
.border-lightGreen{
   border-bottom: 4px solid chartreuse;

}
.boxShadow{
   box-shadow: 1px 1px 8px #4242421f;
}
#introduceJobImg{
   border-radius: 150px 10px 10px 150px;
}
.textHover{
  color: #ffffff85;
}
.textHover:hover{
   color: #ffffff;
}
.paragraph{
text-indent: 1.5rem;
}
@media (max-width:992px) {
   #introduceJobImg{
      border-radius: 10px;
   }
   .br-raduis{
      border-radius: 10px;
   }
}