#Navbar {
   margin: 0 1.2rem;
}

.bg-lightGreen {
   background-color: chartreuse;
}

.bg-lightGreen:hover {
   background-color: #80ff00b6;
}

.bg-lightGreen:focus {
   background-color: #80ff00b6;
}

.border-lightGreen {
   border-bottom: 4px solid chartreuse;

}

.boxShadow {
   box-shadow: 1px 1px 8px #42424234;
}

#introduceJobImg {
   border-radius: 150px 10px 10px 150px;
}

/* footer */
.textHover {
   color: #ffffff85;
}

.textHover:hover {
   color: #ffffff;
}

/* about.html */
.paragraph {
   text-indent: 1.5rem;
   text-align: justify;
}

.photoCompany {
   width: 100%;
   height: 500px;
}

.bgPhotoCompany {
   background: linear-gradient(45deg, #007400, #80ff00);
}

.bg-caption-photoCompany {
   background-color: rgba(0, 0, 0, 0.137);
   backdrop-filter: blur(10px);
   color: #ffffff;
}

.essayImg {
   width: 100%;
}
/* contact.html */
#contactBody {
   background-image: url(../image/lobby.jpg);
   background-size: cover;
}

#contactComment,
#contactTitle,
#contactAddress {
   background-color: #0000005b;
   backdrop-filter: blur(4px);
   border-radius: 10px;
   color: #ffffff;
}

#contactTitle {
   padding: 15px 0;
   font-weight: 500;
}

#contactAddress,
#contactComment {
   padding: 12px 16px;
}

.map-container {
   overflow: hidden;
   padding-bottom: 56.25%;
   position: relative;
   border-radius: 12px;
}

.map-container iframe {
   height: 100%;
   width: 100%;
   position: absolute;
}
/* services.html */
#servicesImg{
   border-radius: 10px 150px 150px 10px;
}
#servicesImgRev{
   border-radius: 150px 10px 10px 150px;
}
.btn-rate{
   background-color: #303030;
   border-radius: 5px;
   color: #ffffff;
   padding: 4px;
   font-size: 12px;
}
@media (max-width:992px) {
   #introduceJobImg {
      border-radius: 10px;
   }
   #servicesImg{
      border-radius: 10px;
   }
   .br-raduis {
      border-radius: 10px;
   }
}

@media (min-width:992px) {
   .photoCompany {
      height: 500px;
   }
}